language: bash
services: docker
env:
  - VERSION=3.4 VARIANT=alpine

before_script:
  - image="hogo:${VERSION}${VARIANT}"

script:
  - docker build -t "$image" .
after_script:
  - docker images|grep $image